

header {
    padding: 0% 0% 1% 1%;
    font-family: "Bitter","Noto Serif SC","Noto Serif JP";
    background-color: rgb(49, 118, 224);
    color: #fff;
    display: flex;
    flex-direction: column;
}
header a {
    color: #fff;
    text-decoration: none;
}
/* Mobile first */

#hidden_nav_bar {
    display: none;
    

}


#first_section {
    margin: 0% 2%;
    display: flex;
    align-items: center;
}
#first_section h2 {
    flex: 11 1 0px;
}
#first_section a {
    flex: 1 1 0px;
}

form {
    margin: 0% 0% 2% 2%;

}

/* from tablet to desktop */
@media only screen and (min-width: 480px) { 
    header {
        font-size: 20px;
    }
}







