aside, main {
    font-family: "Bitter","Noto Serif SC","Noto Serif JP";
    margin-left:2%;

}
aside a {
    text-decoration: none;
}

/* Mobile first */
img {
    
    border-radius: 2%;
}


/* from tablet to desktop */
@media only screen and (min-width: 480px) { }