aside, main {
    font-family: "Bitter","Noto Serif SC","Noto Serif JP";
    margin:0% 1% 0% 2%;
}
.skill {
    color: rgb(49, 118, 224);
    font-weight: bold;

}
aside, .section-main {
    border-bottom: solid 1px rgb(49, 118, 224);
}
.section-main:last-child {
    border-bottom:  1px ;
}
aside a {
    text-decoration: none;
    
}
.experience-box, .education-box {
    margin-bottom:30px;
    border-bottom: dotted 1px rgb(49, 118, 224);

}
.experience-box:last-child, .education-box:last-child {
    border-bottom: 1px
}

/* Mobile first */
main {
    display:flex;
    flex-direction: column;
}
#description, .aditional-info {
    text-align: justify;
    line-height: 25px;
}

img {
    width: 300px;
    border-radius: 2%;
    margin-bottom: 2%;
}
.edu-school, .exp-company, .exp-job, .edu-degree {
    font-weight: bold;
}


/* tablet TWO colums */
@media only screen and (min-width: 480px) { 
    #divider {
        display: flex;
        flex-direction: row;
    }
    aside {
        background-color: rgb(49, 118, 224);
        flex: 1 1 0px;
        padding-left: 2%;
        margin-left: -2%;
        border-top: solid 1px #fff; 
        border-bottom: solid 1px #fff;        
    }
    aside p, aside h2, aside h3, .skill{
        color: #fff;
        margin-left: 8%;
    }
    aside a {
        color: #fff;
        margin-left: 2%;
    }
    main {
        flex: 3 1 0px; 
    }
    .info-box {
        border-bottom: dotted 1px #fff;
        padding: 30px 0px;
    }
    .info-box:last-child { 
        border-bottom:  1px ;
    }
}
/* Desktop from 768 or more */
@media only screen and (min-width: 768px) {
    .experience-box, .education-box {
        display:flex;
        flex-direction: row;
    }
    .left-sector {
        flex: 1 1 0px
    }

    .right-sector {
        flex: 1 1 0px;
        border-left: dotted 1px rgb(49, 118, 224);
        padding-left: 3%;
    }
 }